@font-face {
    font-family: TradeGothic;
    src: url(../fonts/TradeGothicforNike365-BdCn.ttf);
}

html, body, #root, #app {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    width: 100%;
    height: 100%; 
}

button, input {
    font-family: 'Lato', sans-serif;
}

a {
    cursor: pointer;
}

#map {
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: -2;
}

.map-btn img {
    max-width: 25px;
    margin: 5px;
    display: block;
}

.bottom-left {
    position: fixed;
    left: 0;
    bottom: 0;
}

.bottom-right {
    position: fixed;
    right: 0;
    bottom: 0;
}

.gmnoprint a, .gmnoprint span {
    display:none;
}

.gmnoprint {
    display: none;
}

/***************
 * landingpage *
 ***************/
.landingpage {
    background-color: #000;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#slideshow {
    position: absolute;;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#slideshow > div {
    position: absolute;
    width: 100%;
    max-height: 100%:
}

#slideshow img{
    width: 100%;
    height: 100%;
}

.landingpage .logo {
    position: relative;;
    z-index: 4;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.landingpage .logo img {
    max-width: 210px;
    display: inline-block;
}

.landingpage .logo p {
    color: white;
    font-size: 9pt;
    font-weight: 300;
    margin: 10px;
    letter-spacing: 1.3px;
}

.landingpage .logo button {
    background-color: #333;
    padding: 0.8em 4em;
    border: none;
    color: white;
    margin: 10px auto;
    text-transform: uppercase;
    top: 80%;
    display: inline-block;
}

.login {
    display:table-cell;
    vertical-align:middle;
    text-align: center;
    /*background: linear-gradient(180deg, #f09819  10%,#ff512f 90%);*/
    /*background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/dummy01.jpg);*/
    background-size: cover;
    background-position: center;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/login_bg.jpg);
}

.login .logo img,
.signup .logo img {
    max-height: 3em;
}

.login .logo p,
.signup .logo p {
    color: white;
    margin-top: 1em;
}

.signup {
    display:table-cell;
    vertical-align:middle;
    text-align: center;
    /*background: linear-gradient(180deg, #f09819  10%,#ff512f 90%);*/
    /*background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/dummy01.jpg);*/
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/signup_bg.jpg);
}

.login-content, .signup-content {

}

.login-content img {
    max-width: 220px;
    margin: 10px;
}

.login a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.login button {
    width: 220px;
    padding: 1em;
    border: none;
    margin: 10px auto;
    color: white;
    font-size: 10pt;
}

.login-content p, .signup-content p {
    color: white;
    font-size: 9pt;
    font-weight: 300;
    margin-top: 30px;
}

.signup-content label {
    font-size: 8pt;
    font-weight: 400;
    margin-right: 10px;
}

.signup form {
    font-weight: 100;
    color: white;
    display: inline-block;
    text-align: right;
    font-size: 9pt;
}

.signup input {
    margin: 15px 0;
}

.signup form button {
    padding: 5px;
    max-width: 100px;
    background-color: #333;
    border: none;
    color: white;
    padding:0.5em 2em;
}

/* Hoop story */
.heroimage {
    position: relative;
    min-height: 380px
}

.heroimage img {
    width: 100%;
    position: absolute;
    z-index: -2;
    max-height: 400px;
}

.heroimage h2 {
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    margin: 15px;
    text-shadow: 2px 2px 12px #333;
    font-weight: 300;
}

.hoop-info {
    max-width: 100%;
    margin: 20px;

}

.userprofile {
    float: left;
}

.userprofile img {
    max-width: 60px;
    border-radius: 120pt;
    float: left;
}

.userprofile h6 {
    line-height: 32px;
    display: inline-block;
    vertical-align: middle;
    font-size: 12pt;
    margin-top: 5px;
    margin-left: 15px;
    font-weight: 300;
}

.icons {
    display: inline-block;
    float: right;
}

.icons img {
    max-width: 18px;
    border-radius: none;
    right: 0;
    margin-top: 15px;
    margin-left: 10px;
}

.icons p {
    font-size: 8pt;
    float: left;
    margin-top: 16px;
}

.description {
    display: inline-block;
}

.hoop-info button {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 25px;
}

.description p {
    font-size: 8pt;
    line-height: 12pt;
    margin-top: 10px;
}

.hoop-gallery {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    float: left;
}

.hoop-gallery li {
    list-style-type: none;
}

.hoop-gallery li img {
    background-color: #e7e7e7;
    max-width: 33.333%;
    border-radius: 0px;
    display: block;
    float: left;
    padding: .5px;
}

.hoopstory hr {
    border: 1px solid #e7e7e7;
}

.comment {
    margin:0px;
    width: 380px;
    display: block;
    position: fixed;
    bottom: 0;
    text-align: center;
    border-top: 1px solid #e7e7e7;
}

.usercomment {
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 20px;
}

.usercomment p {
    text-align: left;
    font-size: 8pt;
    padding: 0;
    margin-left: 20px;
    line-height: 10pt;
    color: #333;
    font-weight: 300;
    padding: 5px;
}

.comment input {
    margin: 0px;
    display: inline-block;
    width: 70%;
    padding: .7em;
    float: left;
    font-weight: 300;
}

.comment button {
    background-color: #ff6b00;
    width: 30%;
    display: inline-block;
    border:none;
    padding: 10px 30px;
    color: white;
}

.addhoop #map {
    max-height: 60%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
}

.addhoop .content {
    position: relative;
    margin-top: 410px;
    text-align: center;
}

.addhoop h3 {
    margin:15px auto;
    font-size: 8pt;
    font-weight: 400;
}

.addhoop label {
    font-size: 8pt;
    font-weight: 400;
    margin-right: 10px;
}

.addhoop form {
    font-weight: 100;
    color: #333;
    display: inline-block;
    line-height: 12pt;
    font-size: 10pt;
    text-align: right;
}

.addhoop input, textarea {
    border: 1px solid #999;
    width: 210px;
    min-height: 25px;
    vertical-align: top;
    margin-bottom: 10px;
}

.addhoop .content form button {
    padding: 10px 20px;
    border: none;
    width: 210px;
    color: white;
    background-color: #333;
    margin: 0;
    font-weight: 300;
}

.addhoop .submit {
    text-align: center;
}

.addhoop .submit button {
    width: 140px;
    background-color: #999;
    border:none;
    padding: 0.8em 1em;
    color: white;
    margin: 20px 10px;
}

.profile {
    position: relative;
    padding-top: 25px;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/user_bg.jpg);
}

.profile .picture {
    text-align: center;
}

.profile .picture img {
    max-width: 120px;
    border-radius: 80pt;
    display: inline-block;
}

.profile .info {
    display: inline-block;
    text-align: center;
}

.profile .info h3 {
    padding-top: 8px;
    color: white;
    font-weight: 300;
}

.profile .info p {
    padding-top: 8px;
    font-size: 10pt;
    color: white;
}

.profile .info button {
    margin: 10px auto;
    background-color: #e7e7e7;
    border: none;
    padding: 5px 20px;
    color: #111;
    font-weight: 300;
}

.profile .myhoops {
    margin:10px auto;
    background-color: white;
}
 .filter {
    text-align: center;
    border-top: 1px solid #e7e7e7;
}

.filter p {
    font-size: 9pt;
    font-weight: 300;
    display: inline-block;
    padding: 10px;
    color: #999;
}

.profile .myhoops .gallery img {
    max-width: 33.333%;
    border-radius: 0px;
    display: block;
    float: left;
    padding: .5px;
}

.activities {
    width: 100%;
    height: 100%;
    background-color: #e7e7e7;
    display: inline-block;
    position: absolute;
    padding-top: 30px;
}

.activities li {
    padding: 10px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #999;
    list-style-type: none;
    float: left;
}

.left {
    float: left;
}

.right {
    float: right;
}

.userprofile img {
    border-radius: 30pt;
    max-width: 50px;
}

.userstory img {
    max-width: 50px;
}

.userfeeds p {
    float: left;
    font-size: 10pt;
    padding: 15px;
}
